.box{
	width: 1100px;
	height: 600px;
	background-color: rgb(21, 30, 28);
	position: relative;
	transition: all 0.3s ease 0.3s;
}
.box:hover {
	background-color: yellow;
}
.table{
	position: absolute;
	right: 40%;
	bottom: 23%;
	transform: translate(40%,40%);
}
.box-content {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-28%, -50%);
	width: 400px;
	animation-name: box;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-fill-mode: backwards;
	animation-timing-function: ease;
}
.computer{
	width: 100%;
}
.mouse {
	padding-left: 30px;
}
@keyframes box {
	from {
		left: 50%;
		top: 20%;
		transform: translate(-28%, -50%);
	}
	to{
		left: 50%;
		top: 46%;
		transform: translate(-28%, -50%);
	}
}
.coffee {
	width: 185px;
	position: absolute;
	right: 100px;
	bottom: 22%;
}
.mist {
	width: 96px;
	height: 100px;
	position: absolute;
	right: 140px;
	bottom: 44%;
	background-image: url(../images/mist1.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation-name: mists;
	animation-delay: 2s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes mists {
	0% {
		background-image: url(../images/mist1.png);
		bottom: 44%;
	}
	33% {
		background-image: url(../images/mist2.png);
		bottom: 50%;
	}
	66% {
		background-image: url(../images/mist3.png);
		bottom: 44%;
	}
	100% {
		background-image: url(../images/mist4.png);
		bottom: 50%;
	}
}
